.container{
    max-width: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    nav{
        padding: 10px 15px 10px 15px;
     
    }

}


// nav.navbar{
//     background-color: black !important;
// }

